{#
{{ form_start(form, {method: 'POST', action: path('filefields_edit', {'id': filefields.id})}) }}
    <fieldset id={{ filefields.id }}>

        {{ form_errors(form) }}
        {{ form_row(form.content) }}

        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </button>
        </div>
    </fieldset>
    <br>
{{ form_end(form) }}
#}


{{ form_start(form, {attr: {'id': 'file' ~ filefields.id}, action: path('filefields_edit_ajax', {'id': filefields.id})}) }}
    <fieldset>

        {{ form_errors(form) }}
        <input type="text" name="username" />
        <input type="file" name="upload" />
        
        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </button>
        </div>
    </fieldset>
    <br>
{{ form_end(form) }}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(file{{ filefields.id }}).submit( function(event)
        {
            event.preventDefault();
            document.getElementById('file{{ filefields.id }}').style.color = "green";

            var form = document.getElementById('file{{ filefields.id }}');
            $.ajax({
            url: $(file{{ filefields.id }}).attr('action'),
            data: new FormData(form),
            type: 'POST',
            contentType:false,
            processData:false,
            cache:false,
            dataType:"json", 
            error:function(err){
                    console.error(err);
            },
            success:function(data){
                console.log(data);      
            },
            complete:function(){
            console.log("Request finished.");

            }
            });
                
            return false;
        })
    </script>
{% endblock %}
