{#
{{ form_start(form, {method: 'POST', action: path('numberfields_edit', {'id': numberfields.id})}) }}
    <fieldset id={{ numberfields.id }}>

        {{ form_errors(form) }}
        {{ form_row(form.content) }}

        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </button>
        </div>
    </fieldset>
    <br>
{{ form_end(form) }}
#}


{{ form_start(form, {attr: {'id': 'number' ~ numberfields.id}, action: path('numberfields_edit_ajax', {'id': numberfields.id})}) }}
    <fieldset>

        {{ form_errors(form) }}
        {{ form_row(form.content, {'id': 'numberContent' ~ numberfields.id}) }}
        
        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit" id="numberButton{{ numberfields.id }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </button>
        </div>
    </fieldset>
    <br>
{{ form_end(form) }}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(number{{ numberfields.id }}).submit( function(event)
        {
        event.preventDefault();
        document.getElementById('number{{ numberfields.id }}').style.color = "green";
        $.ajax({
            type: 'PUT',
            url: $(number{{ numberfields.id }}).attr('action'),
            dataType: 'json',
            async: true,
            data: JSON.stringify({
            content:parseInt(document.getElementById('numberContent{{ numberfields.id }}').value),
            }),
            success: function (response) {
            $('#res').html("data save");
            }
        });
            
        return false;
        })
    </script>
{% endblock %}