{{ form_start(form, {method: 'POST', action: path('subelementfields_edit', {'id': subelementfields.id})}) }}
    <fieldset id={{ subelementfields.id }}>

        {{ form_errors(form) }}
        {{ form_row(form.content) }}

        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </button>
        </div>
    </fieldset>
    <br>
{{ form_end(form) }}
