{#
{{ form_start(form, {method: 'POST', action: path('subelementfields_edit', {'id': subelementfields.id})}) }}
    <fieldset id={{ subelementfields.id }}>

        {{ form_errors(form) }}
        {{ form_row(form.content) }}

        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </button>
        </div>
    </fieldset>
    <br>
{{ form_end(form) }}
#}


{{ form_start(form, {attr: {'id': 'subelement' ~ subelementfields.id}, action: path('subelementfields_edit_ajax', {'id': subelementfields.id})}) }}
    <fieldset id={{ subelementfields.id }}>

        {{ form_errors(form) }}
        {{ form_row(form.content, {'id': 'subelementContent' ~ subelementfields.id}) }}
        
        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit" id="subelementButton{{ subelementfields.id }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </button>
        </div>
    </fieldset>
    <br>
{{ form_end(form) }}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(subelement{{ subelementfields.id }}).submit( function(event)
        {
        event.preventDefault();
        loadPage(1);
        $.ajax({
            type: 'PUT',
            url: $(subelement{{ subelementfields.id }}).attr('action'),
            dataType: 'json',
            async: true,
            data: JSON.stringify({
            content:document.getElementById('subelementContent{{ subelementfields.id }}').value,
            }),
            success: function (response) {
                $('#res').html("data save");
                document.getElementById('subelement{{ subelementfields.id }}').style.color = "green";
                loadPage(-1);
            }
        });
            
        return false;
        })
    </script>
{% endblock %}