{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_edit_fields' %}

{% block javascripts %}
    <script>
        /* FUNCTION ANCHOR - DEACTIVATE
        document.addEventListener("DOMContentLoaded", function(event) {
            if(document.getElementById("{{ anchor }}")){
                location.href = "#{{ anchor }}"
                document.getElementById("{{ anchor }}").style.color = "green";
            }
        });
        */
        let stateLoad = 0;
        function loadPage(loadPoint){
            stateLoad = stateLoad + loadPoint;
            let totalPercent = 100-stateLoad;
            document.getElementById('loadPercent').firstChild.textContent = totalPercent;
            if (stateLoad === 0){
                document.getElementById('loading').style.visibility="hidden";
            }
            else {
                document.getElementById('loading').style.visibility="visible";
            }
        }
    </script>
{% endblock %}

{% block main %}

    <style>
        .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin:300px auto 0 auto;
        animation: spin 2s linear infinite;
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }
    </style>

    <div class="well" id="loading" style=
        "
        background: grey;
        opacity:0.5;
        position: fixed;
        margin:0;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 1;

        visibility: hidden;
        "
    > 
        <div class="loader"></div>
        <br>
        <div class="text-center">
            <h1>Loading <strong id="loadPercent">5</strong> %</h1>
        </div>    
    </div>


    <h1>{{ subelement.title }}</h1>
    <p class="element-metadata">
        <span class="metadata"><i class="fa fa-calendar-o"></i> {{ subelement.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <br/>
        <span class="metadata"><i class="fa fa-user-circle-o"></i> {{ subelement.author.fullName }}</span>
    </p>
    {{ subelement.content|markdown_to_html|sanitize_html }}

    <div>
        <a href="{{ path('admin_element_show', {id: idElement}) }}" class="btn btn-link">
            <i class="fa fa-backward" aria-hidden="true"></i> {{ 'action.back'|trans }}
        </a>
    </div>


    <hr/>

    <h1>{{ 'title.fields_list'|trans }}</h1>

    {% for field in fields|sort((a, b) => a.position <=> b.position) %}
        <div>
            <h3>{{ field.title }}</h3>
            <p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if field.type is same as('text') %}
                        {{ render(controller('App\\Controller\\FieldsController::textFieldsForm', {'id': field.id})) }}
                    {% elseif field.type is same as('date') %}
                        {{ render(controller('App\\Controller\\FieldsController::dateFieldsForm', {'id': field.id})) }}
                    {% elseif field.type is same as('number') %}
                        {{ render(controller('App\\Controller\\FieldsController::numberFieldsForm', {'id': field.id})) }}
                    {% elseif field.type is same as('file') %}
                        {{ render(controller('App\\Controller\\FieldsController::fileFieldsForm', {'id': field.id})) }}
                    {% elseif field.type is same as('subelement') %}
                        {{ render(controller('App\\Controller\\FieldsController::subelementFieldsForm', {'id': field.id})) }}
                    {% else %}
                        {{ field.content }}
                    {% endif %}
                {% else %}
                    {% if field.type is same as('text') %}
                        {{ field.content }}
                    {% elseif field.type is same as('date') %}
                        {{ field.content|format_datetime('long', 'medium', '', 'UTC') }}
                    {% elseif field.type is same as('number') %}
                        {{ field.content|number_format }}
                    {% elseif field.type is same as('file') %}
                        {{ field.content }}
                    {% elseif field.type is same as('subelement') %}
                        {% if field.content is null %}
                            {{ field.content }}
                        {% else %}
                            {{ field.content.title }}
                        {% endif %}
                    {% else %}
                        {{ field.content }}
                    {% endif %}
                {% endif %}
            </p>
        </div>
    {% else %}
        <div class='well'>{{ 'fields.no_fields'|trans }}</div>
    {% endfor %}

    <div class="form-group">
        <button class="btn btn-warning pull-center" 
            id="mainButton"
            value="Button" 
            onclick="
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% for field in fields|sort((a, b) => a.position <=> b.position) %}
                        {% if field.type is same as('text') %}
                            document.getElementById('textButton{{ field.id }}').click(),
                        {% elseif field.type is same as('date') %}
                            document.getElementById('dateButton{{ field.id }}').click(),
                        {% elseif field.type is same as('number') %}
                            document.getElementById('numberButton{{ field.id }}').click(),
                        {% elseif field.type is same as('file') %}
                            document.getElementById('fileButton{{ field.id }}').click(),
                        {% elseif field.type is same as('subelement') %}
                            document.getElementById('subelementButton{{ field.id }}').click(),
                        {% endif %}
                    {% endfor %}
                {% endif %}
                document.getElementById('').click()
                "
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_all'|trans }}
        </button>
    </div>
{% endblock %}




{% block sidebar %}

    <div class="section">
        <a href="{{ path('admin_subelement_edit', {id: subelement.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
        </a>
    </div>

    <div class="section">
        <a href="{{ path('admin_subelement_show', {id: subelement.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.lock_fields'|trans }}
        </a>
    </div>
    
    <div class="section">
        {{ include('admin/crud/subelement/_subelement_delete_form.html.twig', {subelement: subelement}, with_context = false) }}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
