{{ include('crud/_delete_element_confirmation.html.twig') }}

    {% if element.filterInSubelementFields[0] is defined %}

        <button type="submit" class="btn btn-lg btn-block btn-secondary">
            <i class="fa fa-trash" aria-hidden="true"></i>
            {{ 'action.undeletable'|trans }}
        </button>

    {% else %}

        <form action="{{ url('admin_element_delete', {id: element.id}) }}" method="post" data-confirmation="true" id="delete-form">
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
            <button type="submit" class="btn btn-lg btn-block btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
                {{ 'action.delete'|trans }}
            </button>
        </form>

    {% endif %}
