{% extends 'admin/layout.html.twig' %}

{% block body_id 'crud_show' %}

{% block main %}

    <h1>{{ subelement.id }}</h1>
    <h1>{{ subelement.publishedAt|format_datetime('medium', 'short', '', 'UTC')  }}</h1>

    <p class="element-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ subelement.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ subelement.author.fullName }}</span>
    </p>

    {{ subelement.content|markdown_to_html|sanitize_html }}

{% endblock %}

{#
{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_element_edit', {id: element.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    
    <div class="section">
        {{ include('admin/crud/_delete_form.html.twig', {element: element}, with_context = false) }}
    </div>
    

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
#}