{% extends 'base.html.twig' %}

{% block body_id 'crud_element_show' %}

{% block main %}
    <h1>{{ element.title }}</h1>

    <p class="element-metadata">
        <span class="metadata"><i class="fa fa-calendar-o"></i> {{ element.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user-circle-o"></i> {{ element.author.fullName }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ element.summary }}</p>
    </div>

    {{ element.content|markdown_to_html|sanitize_html }}

    {{ include('crud/_element_tags.html.twig') }}

    <div id="element-add-subelement" class="well">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\CrudController::subelementForm', {'id': element.id})) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                </a>
                {{ 'element.to_publish_a_subelement'|trans }}
            </p>
        {% endif %}
    </div>

    <h3>
        <i class="fa fa-subelements" aria-hidden="true"></i> {{ 'element.num_subelements'|trans({ 'count': element.subelements|length }) }}
    </h3>

    {% for subelement in element.subelements %}
        <div class="row element-subelement">
            <a name="subelement_{{ subelement.id }}"></a>
            <h4 class="col-sm-3">
                <strong>{{ subelement.author.fullName }}</strong> {{ 'element.subelemented_on'|trans }}
                {# it's not mandatory to set the timezone in localizeddate(). This is done to
                   avoid errors when the 'intl' PHP extension is not available and the application
                   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                <strong>{{ subelement.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ subelement.content|markdown_to_html|sanitize_html }}
            </div>

            <div class="col-sm-9">
                <a href="{{ path('subelement_show', {id: subelement.id}) }}" class="btn btn-sm btn-default">
                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                </a>
            </div>

        </div>
    {% else %}
        <div class="element-subelement">
            <p>{{ 'element.no_subelements'|trans }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('edit', element) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_element_edit', {id: element.id}) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </a>
        </div>
    {% endif %}

    {{ parent() }}

    {{ show_source_code(_self) }}
    {{ include('crud/_rss.html.twig') }}
{% endblock %}
