{% extends 'base.html.twig' %}

{% block body_id 'crud_show' %}

{% block main %}
    <h1>{{ subelement.title }}</h1>
    <p class="element-metadata">
        <span class="metadata"><i class="fa fa-calendar-o"></i> {{ subelement.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <br/>
        <span class="metadata"><i class="fa fa-user-circle-o"></i> {{ subelement.author.fullName }}</span>
    </p>
    {{ subelement.content|markdown_to_html|sanitize_html }}

    <div>
        <a href="{{ path('crud_element', {slug: slugElement}) }}" class="btn btn-link">
            <i class="fa fa-backward" aria-hidden="true"></i> {{ 'action.back'|trans }}
        </a>
    </div>


    <hr/>

    {% for field in fields|sort((a, b) => a.position <=> b.position) %}
        <div>
            <h3>{{ field.title }}</h3>
            <p>
                {% if field.content.timestamp is defined %}
                    {{ field.content|date('m/d/Y') }}
                {% else %}
                    {{ field.content }}
                {% endif %}
            </p>
        </div>
    {% else %}
        <tr>
            <div class='well'>{{ 'element.no_subelements'|trans }}</div>
        </tr>
    {% endfor %}




{% endblock %}




{% block sidebar %}

    <div class="section">
        <a href="{{ path('subelement_edit', {id: subelement.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
        </a>
    </div>
    
    <div class="section">
        {{ include('crud/subelement/_subelement_delete_form.html.twig', {subelement: subelement}, with_context = false) }}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
