{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_textfields_new' %}

{% block main %}
    <h1>{{ 'title.fields_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.position) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_fields'|trans }}
        </button>
        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('admin_element_show', {id: element.id}) }}" class="btn btn-link">
            <i class="fa fa-database" aria-hidden="true"></i> {{ 'action.back'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
